.tasksFilter {
  width: 325px;
  max-width: 90%;
  height: 100vh;
  padding: 35px;
  border-right: 1px solid #6c757d80;
}

.tasksFilter p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 14px 16px;
}

.tasksFilter .active {
  background-color: #f8f9facc;
  color: #1576d6;
}
